* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: rgb(207, 206, 206);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.navbar .logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    left: 30px;
    position: absolute;
    top: 2px;
    transition: 0.3s;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links .active a {
    background-color: rgba(83, 83, 83, 0.2);
    border-radius: 5px;
}

.search-icon {
    display: flex;
    margin-right: 15px;  /* Small 15px gap */
    right: 10%;
    position: absolute;
}

.search-bar {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.2);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    transition: 0.3s;
}
.search-bar:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-icon i {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}

.search-icon a:hover {
    color: #000000;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 50px; /* Small 20px gap */
    position: relative;
}

.profile i {
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .navbar .logo {
        margin-left: 20px;
    }

    .navbar .profile {
        margin-right: 20px;
    }

    .search-icon {
        display: none; /* Hide search icon on mobile */
    }
}

body {
    padding-top: 60px; /* To prevent the body content from hiding behind the navbar */
}